<a href="https://colab.research.google.com/github/Jrex-web/ModelingDataCovid-19/blob/master/TrabajoFinal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files 
uploaded=files.upload()

Saving CasosPositivosCOVID-19_7Enero.csv to CasosPositivosCOVID-19_7Enero.csv

In [2]:
import pandas as pd
import numpy as np
import datetime as dt
import io
df_cases=pd.read_csv('CasosPositivosCOVID-19_7Enero.csv',dtype={ 
                                                                'ID de caso':str,
                                                                'Código DIVIPOLA departamento':str,
                                                                'Nombre departamento':str,    
                                                                'Código DIVIPOLA municipio':str,    
                                                                'Nombre municipio':str,         
                                                                'Edad':int,        
                                                                'Unidad de medida de edad':str,     
                                                                'Sexo':str,     
                                                                'Código ISO del país':str,    
                                                                'Nombre del país':str,    
                                                                'Recuperado':str,    
                                                                'Tipo de recuperación':str,       
                                                                'Pertenencia étnica':str,       
                                                                'Nombre del grupo étnico':str
                                                                },low_memory=False)
df_cases.head()

,fecha reporte web,ID de caso,Fecha de notificación,Código DIVIPOLA departamento,Nombre departamento,Código DIVIPOLA municipio,Nombre municipio,Edad,Unidad de medida de edad,Sexo,...,Código ISO del país,Nombre del país,Recuperado,Fecha de inicio de síntomas,Fecha de muerte,Fecha de diagnóstico,Fecha de recuperación,Tipo de recuperación,Pertenencia étnica,Nombre del grupo étnico
0,6/3/2020 0:00:00,1,2/3/2020 0:00:00,11,BOGOTA,"11,001",BOGOTA,19,1,F,...,380,ITALIA,Recuperado,27/2/2020 0:00:00,NaN,6/3/2020 0:00:00,13/3/2020 0:00:00,PCR,6,NaN
1,9/3/2020 0:00:00,2,6/3/2020 0:00:00,76,VALLE,"76,111",BUGA,34,1,M,...,724,ESPAÑA,Recuperado,4/3/2020 0:00:00,NaN,9/3/2020 0:00:00,19/3/2020 0:00:00,PCR,5,NaN
2,9/3/2020 0:00:00,3,7/3/2020 0:00:00,5,ANTIOQUIA,"5,001",MEDELLIN,50,1,F,...,724,ESPAÑA,Recuperado,29/2/2020 0:00:00,NaN,9/3/2020 0:00:00,15/3/2020 0:00:00,PCR,6,NaN
3,11/3/2020 0:00:00,4,9/3/2020 0:00:00,5,ANTIOQUIA,"5,001",MEDELLIN,55,1,M,...,NaN,NaN,Recuperado,6/3/2020 0:00:00,NaN,11/3/2020 0:00:00,26/3/2020 0:00:00,PCR,6,NaN
4,11/3/2020 0:00:00,5,9/3/2020 0:00:00,5,ANTIOQUIA,"5,001",MEDELLIN,25,1,M,...,NaN,NaN,Recuperado,8/3/2020 0:00:00,NaN,11/3/2020 0:00:00,23/3/2020 0:00:00,PCR,6,NaN

In [3]:
df_Dept=df_cases[['Código DIVIPOLA departamento','Nombre departamento','Sexo','Edad','Recuperado']].dropna()

In [4]:
def alentados(fila):
    r=fila['Recuperado']
    if r=='Recuperado':
        re=1
        return re
    else:
        re=0
        return re
df_Dept['Alentados']=df_Dept.apply(alentados,axis=1)

In [5]:
def activos(fila):
    a=fila['Recuperado']
    if a=='Activo':
        ac=1
        return ac
    else:
        ac=0
        return ac
df_Dept['Activos']=df_Dept.apply(activos,axis=1)

In [6]:
def fallecidos(fila):
    f=fila['Recuperado']
    if f=='Fallecido' or f=='fallecido':
        fa=1
        return fa
    else:
        fa=0
        return fa
df_Dept['Fallecidos']=df_Dept.apply(fallecidos,axis=1)

In [7]:
def generof(fila):
    sexf=fila['Sexo']
    if sexf =='F':
        resultado=1
        return resultado
    else:
        resultado=0
        return resultado
df_Dept['Femenino']=df_Dept.apply(generof,axis=1)

In [8]:
def generom(fila):
    sexm=fila['Sexo']
    if sexm =='M':
        respuesta=1
        return respuesta
    else:
        respuesta=0
        return respuesta
df_Dept['Masculino']=df_Dept.apply(generom,axis=1)

In [9]:
def cluster_edad(fila):
    decil=fila['Edad']
    if decil<=9:
        resultado="0-9"
        return resultado
    else:
        if decil>=10 and decil<=19:
            resultado="10-19"
            return resultado
        else:
            if decil>=20 and decil<=29:
                resultado="20-29"
                return resultado
            else:
                if decil>=30 and decil<=39:
                    resultado="30-39"
                    return resultado
                else:
                    if decil>=40 and decil<=49:
                        resultado="40-49"
                        return resultado
                    else:
                        if decil>=50 and decil<=59:
                            resultado="50-59"
                            return resultado
                        else:
                            if decil>=60 and decil<=69:
                                resultado="60-69"
                                return resultado
                            else:
                                if decil>=70 and decil<=79:
                                    resultado="70-79"
                                    return resultado
                                else:
                                    if decil>=80 and decil<=89:
                                        resultado="80-89"
                                        return resultado
                                    else:
                                        if decil>=90:
                                            resultado="90+"
                                            return resultado
df_Dept['Rango_Edad']=df_Dept.apply(cluster_edad,axis=1)

In [10]:
df_Report=df_Dept.groupby(by=['Código DIVIPOLA departamento',
                                   'Nombre departamento',
                                   #'Código DIVIPOLA municipio',
                                   #'Nombre municipio',
                                   'Rango_Edad',
                                   'Sexo'
                                  ]).agg({'Edad':'mean',
                                          'Recuperado':'count',
                                          'Femenino':'sum',
                                          'Masculino':'sum',
                                          'Alentados':'sum',
                                          'Activos':'sum',
                                          'Fallecidos':'sum'
                                         }).reset_index()
df_Report

,Código DIVIPOLA departamento,Nombre departamento,Rango_Edad,Sexo,Edad,Recuperado,Femenino,Masculino,Alentados,Activos,Fallecidos
0,11,BOGOTA,0-9,F,5.211396,9021,9021,0,8426,589,6
1,11,BOGOTA,0-9,M,5.116122,9490,0,9490,8835,650,5
2,11,BOGOTA,10-19,F,15.316382,17953,17953,0,16534,1413,6
3,11,BOGOTA,10-19,M,15.223731,17530,0,17530,16125,1400,5
4,11,BOGOTA,20-29,F,24.915104,59614,59614,0,55213,4361,40
...,...,...,...,...,...,...,...,...,...,...,...
711,99,VICHADA,70-79,M,74.647059,17,0,17,14,0,3
712,99,VICHADA,80-89,F,82.428571,7,7,0,6,1,0
713,99,VICHADA,80-89,M,84.166667,6,0,6,4,0,2
714,99,VICHADA,90+,F,91.000000,1,1,0,1,0,0
715,99,VICHADA,90+,M,93.000000,2,0,2,1,0,1

### se presento la teoria la tasa media de muertes en las mujeres era superior

In [ ]:
def mujeres(fila):
    s=fila['Sexo']
    f=fila['Fallecidos']
    if s=='F':
        return f 
    else:
        return 0

df_Report['MujeresFallecidas']=df_Report.apply(mujeres,axis=1)

In [ ]:
def Hombres(fila):
    s=fila['Sexo']
    f=fila['Fallecidos']
    if s=='M':
        return f 
    else:
        return 0

df_Report['HombresFallecidos']=df_Report.apply(Hombres,axis=1)

In [ ]:
#Tasa alentados
def tasa_alentados(fila):
    tasa=(fila['Alentados']/fila['Total'])*100 #+str('%')
    return tasa
df_Report.loc[:,'Tasa_%-Recuperados']=df_Report.apply(tasa_alentados,axis=1)
#total_recuperados

In [ ]:
#Tasa Activos
def tasa_Activos(fila):
    tasa=(fila['Activos']/fila['Total'])*100 #+str('%')
    return tasa
df_Report.loc[:,'Tasa_%-Activos']=df_Report.apply(tasa_Activos,axis=1)
#total_Activos

In [ ]:
#Tasa fallecidos
def tasa_fallecidos(fila):
    tasa=(fila['Fallecidos']/fila['Total'])*100 #+str('%')
    return tasa
df_Report.loc[:,'Tasa_%-Decesos']=df_Report.apply(tasa_fallecidos,axis=1)
#total_Fallecidos

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize=(9,7))
re=df_Report['Tasa_%-Recuperados']
ac=df_Report['Tasa_%-Activos']
de=df_Report['Tasa_%-Decesos']
ed=df_Report['Edad_Prom']
plt.bar(ed,de,color="red",label="Muertos")
plt.bar(ed,ac,color="blue",label="Activos")
plt.bar(ed,re,color="green",bottom=[sum(data) for data in zip(de,ac)],label="Recuperados")
#plt.bar(year,data1,color="red",bottom=[sum(data) for data in zip(data2,data3)],label="C++")

plt.legend(loc="lower left",bbox_to_anchor=(0.05,1.0))
plt.show()

In [ ]:
import matplotlib
import matplotlib.pyplot as plt
import numpy as np


labels = df_Report['Edad_Prom']
men_means = df_Report['Masculino']
women_means = df_Report['Femenino']

x = np.arange(len(labels))  # the label locations
width = 0.85  # the width of the bars

fig, ax = plt.subplots()
rects1 = ax.bar(x - width/2, men_means, width, label='Men')
rects2 = ax.bar(x + width/2, women_means, width, label='Women')

# Add some text for labels, title and custom x-axis tick labels, etc.
ax.set_ylabel('Cantidad de contagios')
ax.set_title('Edad por Genero')
ax.set_xticks(x)
ax.set_xticklabels(labels)
ax.legend()
def autolabel(rects):
    """Attach a text label above each bar in *rects*, displaying its height."""
    for rect in rects:
        height = rect.get_height()
        ax.annotate('{}'.format(height),
                    xy=(rect.get_x() + rect.get_width() / 2, height),
                    xytext=(0, 3),  # 3 points vertical offset
                    textcoords="offset points",
                    ha='center', va='bottom',fontsize=6)

autolabel(rects1)
autolabel(rects2)
fig.tight_layout()
plt.show()

In [ ]:
import matplotlib.pyplot as plt
df_Report.plot(kind='bar',x='Media',y='Tasa_%-Recuperados')
plt.title('% Recuperados x Edad')
plt.xlabel('Rango de Edad')
plt.ylabel('% Recuperados')
plt.title('% Recuperados x Edad')
#plt.annotate(text='%',xy=(x,y))
plt.show()

In [ ]:
import matplotlib.pyplot as plt
df_Report.plot(kind='bar',x='Edad_Prom',y='Tasa_%-Decesos')
plt.title('% Muertes x Edad')
plt.xlabel('Rango de Edad')
plt.ylabel('% Muertes')
plt.show()

In [ ]:
df_Report.plot(kind='bar',x='Edad_prom',y='Masculino')
plt.title('Total Fallecidos')
plt.show()